
/* footer */
.site-footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#26272b;
  padding:15px 10px 5px 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer a
{
  color: #BDADE0;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#867aa0;
  text-decoration:none;
}
.copyright-text
{
  margin:0;
  text-align: center;
}